.bike-card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.bike-card:hover {
  transform: translateY(-8px);
}

.bike-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.bike-info {
  padding: 20px;
}

.bike-info h3 {
  margin-bottom: 10px;
  color: #111827;
}

.bike-info p {
  color: #2563eb;
  font-weight: bold;
  margin-bottom: 15px;
}

.bike-info button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.bike-info button:hover {
  background: #1d4ed8;
}